.hero {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background: url("../img/herocap.png");
}

.hero > .container {
  height: 100%;
}

.hero__video {
  vertical-align: top;
  width: 100%;
  object-fit: cover;
}
